<!-- Begin Partners Section -->
<a name="sponsors"></a>
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">            
            <h3>{{ site.partnersTitle }}</h3>
            {% for partner in site.data.partners %}
            <h4>{{ partner.group }}</h4>
            <br/>
            <ul class="list-inline">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                    </a>
                </li> <br/> <br/>
                {% endfor %}
            </ul>
            {% endfor %}           
            <h5>We are looking for sponsors for iOS Conf SG - 2020.</h5>
            <p>If you'd like to support and engage our iOS community, kindly <a href="mailto:subh@iosconf.sg">get in touch with us</a> for more information. Thank you!</p>

            <a href="{{ site.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
        </div>
    </div> 
</section>
<hr>
<!-- End Partners Section -->
