<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper">
        <h6><a href="/workshop/">17th January - 2019: Workshop</a></h6>
        <h6>18th and 19th January - 2019: Conference</h6>
        <strong>Details will be announced closer to the date. Stay tuned...</strong> <br><br>
        <a href="https://ti.to/iosconfsg/2019" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Buy Tickets</a>
    </div>
</section>
<!-- End Schedule Section -->
