<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<!-- place this in your head tag -->
			<script src='https://js.tito.io/v1' async></script>

			<!-- place this where you want the widget to appear -->
			<tito-widget event="iosconfsg/2019"></tito-widget>

			<!-- for basic styles include a link to our stylesheet. -->
			<!-- fancy something more adventurous? Copy it and roll your own! -->
			<link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
		</div>
	</div>
</section>
<!-- End Tickets Section -->