<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <a class="twitter-timeline" data-lang="en" data-height="500" data-dnt="true" data-link-color="#E95F28" href="https://twitter.com/iosconfsg?ref_src=twsrc%5Etfw">Tweets by iosconfsg</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div id="tweets" class="tweets"></div>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
